* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
    font-family: sans-serif;

}
.main {
    border: 1px solid #808080;
    padding: 0.5%;

}
.main-header div {
    margin-left: 3%;
    font-weight: 500;
}

.main-header {
    width: 100%;
    background: #f18528;
    min-height: 100px;
    margin: 0px auto;
    padding-bottom: 3%;
    font-weight: 900;
    font-family: sans-serif;
}

.main-header h1 {
    text-align: left;
    padding: 3%;
}
.container p {
    line-height: 20px;
    margin: 15px 0;
}

.first {
    width: 33%;
    min-height: 200px;
    float: left;
    padding: 10px 20px 0 5px

}
.container h2 {
    font-weight: 500;
    line-height: 20px;
    margin: 20px 0;
}

.second {
    width: 33%;
    float: left;
    padding: 10px 20px 0 3px;

}

.third {
    width: 33%;
    float: left;
    min-height: 200px;
    font-family: sans-serif;
    padding: 10px 0 0 3px;

}

.container::after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 800px) {
    .main-header {
        width: 100%;
    }

    .first {
        width: 33%;
    }

    .second {
        width: 33%;
    }

    .third {
        width: 33%;
    }

}

@media screen and (max-width: 480px) {

    .main{
        border: none;
    }
    .hidden{
        margin: 5px;
        padding: 5px;
        border: 1px solid #808080;
        box-shadow: 1px -1px #808080;
    }
    .main-header {
        width: 100%;


    }

    .first {
        width: 100%;
        /*margin: auto;*/
        padding: 0 2%;
    }

    .second {
        width: 100%;
        padding: 0 2%;

    }

    .third {
        width: 100%;
        padding: 0 2%;

    }

}